@mixin tablet {
    @media (min-width: $queryTablet) { 
        @content; 
    }
}
@mixin desktop {
    @media (min-width: $queryDesktop) { 
        @content; 
    }
}

html, body, #app, .wrapper {
    height: 100%;
    box-sizing: border-box;
}
body {
    font-family: $textFont;
    font-size: 16px;
    margin: 0;
    padding-top: $topBarMobile;
}

img {
    max-width: 100%;
}

.container {
    padding: 0 12px;
}

@include tablet {
    .container, .content {
        padding-left: 0;
        padding-right: 0;
        width: $containerTablet;
        margin-left: auto;
        margin-right: auto;
    }
}

@include desktop {
    .container, .content {
        width: $containerDesktop;
    }
}
