$titleFont: 'Poppins', sans-serif;
$textFont: 'Roboto', sans-serif;
$weightNormal: 400;

$radius: 4px;
$queryTablet: 1024px;
$containerTablet: 1008px;
$queryDesktop: 1400px;
$containerDesktop: 1352px;


$white: rgb(255, 255, 255);
$greyLight:  rgb(240,240,240);
$grey:  rgb(95,95,95);
$greyDark:  rgb(36,36,36);

$topBarMobile: 80px;

$elementsBaseHeight: 2em;

