$titleFont: 'Poppins', sans-serif;
$textFont: 'Roboto', sans-serif;

$white: rgb(255, 255, 255);
$greyLight:  rgb(240,240,240);
$grey:  rgb(95,95,95);

$topBarMobile: 80px;

$elementsBaseHeight: 2em;

