.video {
    font-size:0.625em;
    margin-bottom: 3em;
    &-thumbnail {
    }
    &-title {
        font-family: $titleFont;
        font-size: 1.4em;
        line-height: 1em;
        margin: 0.5em 0;
    }
    &-channel {
        font-weight: $weightNormal;
        font-size: 1.4em;
        margin: 0 0 0.25em;
    }
    &-published {
        font-size: 1.2em;
    }
}