$widthPlayerShrink: 360px;
$heightPlayerShrink: 240px;
.modal {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .modal-commands {
        color: #fff;
        display: flex;
        justify-content: flex-end;
        padding: .25em 1em;
        .icon {
            cursor: pointer;
            width: 1.25em;
            height: 1.25em;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                max-width: 100%;
                max-height: 100%;
            }
        }
        div + div {
            margin-left: 0.5em;
        }
    }
    .modal-container {
        width: 100%;
        min-height: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        max-width: 360px;
    }
    .iframe {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &.shrink-mode {
        top: calc(100% - #{$heightPlayerShrink});
        .modal-container {
            padding-top: 0.5rem;
        }
    }
    @include tablet {
        .modal-container {
            max-width: 800px;
            margin: 0 auto;
        }
        &.shrink-mode {
            top: calc(100% - #{$heightPlayerShrink} - 2em);
            left: calc(100% - #{$widthPlayerShrink} - 2em);
            .modal-container {
                padding: 1em;
                box-sizing: border-box;
            }

        }
    }
}
.has-modal {
    padding-bottom: $heightPlayerShrink;
    @include tablet {
        padding-bottom: 0;
    }
}