$buttonHeight: $elementsBaseHeight;
$buttonBackgroundDefault: $blue;
$buttonBorderDefault: $grey;


.button {
    height: $buttonHeight;
    background: $buttonBackgroundDefault;
    border: none;
    color: $white;
    width: auto;
    box-sizing: border-box;
    border-radius: $radius * 2;
    font-family: $titleFont;
    &.is-large {
        font-size: 1.25rem;
    }
}